@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --clr-primary: #69f542;
  --clr-secondary: #378222;

  --fs-l: 1.5rem;
  --fs-m: 1rem;
  --fs-s: 0.8rem;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-secondary);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: var(--fs-m);
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 370px;
  margin: 0 auto;
}

.main {
  padding-block: 3em 4em;
}

.main__title {
  display: block;
  margin: 0 auto 1em auto;
  width: -moz-fit-content;
  width: fit-content;
}

.form__search-bar {
  border-radius: 10px;
  border: none;
  font-size: var(--fs-m);
  padding: 1em;
  width: 100%;
}

.main__posts {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-top: 3em;
}

.post {
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  color: var(--clr-secondary);
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  position: relative;
}

.post__id {
  aspect-ratio: 1;
  background-color: var(--clr-secondary);
  border-radius: 50%;
  color: #fff;
  display: grid;
  font-size: var(--fs-s);
  left: -2.5%;
  place-items: center;
  position: absolute;
  top: -5%;
  width: 2em;
}

.post__title {
  font-size: var(--fs-l);
}

.post__body {
  font-size: var(--fs-m);
}

.main__loader {
  opacity: 0;
  position: fixed;
  bottom: 1.5em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  width: 100px;
}

.main__loader--show {
  opacity: 100%;
}

.dot {
  aspect-ratio: 1;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  content: "";
  width: 15px;

  animation: jiggle 200ms infinite alternate-reverse;
  animation-play-state: running;
  animation-delay: 0.1s;
}

.dot:first-of-type {
  animation: jiggle 200ms infinite alternate-reverse;
  animation-play-state: running;
}

.dot:last-of-type {
  animation: jiggle 200ms infinite alternate-reverse;
  animation-play-state: running;
  animation-delay: 0.2s;
}

@keyframes jiggle {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(50%);
  }
}

@media (min-width: 1000px) {
  :root {
    --fs-l: 1.8rem;
    --fs-m: 1.3rem;
    --fs-s: 0.9rem;
  }
  .container {
    max-width: 1200px;
  }

  .post__id {
    left: -1%;
  }
}
