@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
:root {
  --clr-background: #274ad8;
  --clr-accent: #27a3d8;
  --clr-body: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

i {
  padding-right: 5px;
}

.container {
  position: relative;
  width: 90%;
  max-width: 370px;
  margin: 0 auto;
}

.button {
  border: none;
  cursor: pointer;
}

.new-card {
  background-color: var(--clr-background);
  color: var(--clr-body);
  display: none;
  inset: 0;
  place-items: center;
  position: absolute;
  z-index: 100;
}

.new-card--show {
  display: grid;
}

.new-card__close {
  position: absolute;
  top: -25px;
  right: 0;
  background-color: transparent;
  color: var(--clr-accent);
  font-size: 1.5rem;
}

.new-card__title {
  text-align: center;
  margin-bottom: 1em;
  font-weight: 400;
}

.new-card__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.form__label {
  display: block;
}

.form__textarea {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5em;
}

.form__button {
  background-color: var(--clr-accent);
  color: var(--clr-body);
  font-family: "Roboto", sans-serif;
  margin: 1em auto;
  padding: 1em;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
}

.form__button:hover,
.form__button:focus-visible {
  background-color: var(--clr-body);
  color: var(--clr-accent);
}

.app {
  background-color: var(--clr-background);
  color: var(--clr-body);
  display: grid;
  min-height: 100vh;
  place-items: center;
}

.app__title {
  text-align: center;
  font-weight: 400;
}

.app__button {
  background-color: var(--clr-accent);
  color: var(--clr-body);
  display: block;
  margin: 1em auto;
  padding: 0.75em;
}

.app__button:hover,
.app__button:focus-visible {
  background-color: var(--clr-body);
  color: var(--clr-accent);
}

.app__cards {
  position: relative;
  width: 100%;
  margin: 1em auto;
  aspect-ratio: 1;
}

.card {
  aspect-ratio: 1;
  background-color: var(--clr-accent);
  border-radius: 10px;
  color: var(--clr-body);
  display: grid;
  place-items: center;
  position: absolute;
  width: 100%;
  inset: 0;
  opacity: 0;
}

.card--active {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  z-index: 10;
  opacity: 1;
}

.card--right {
  animation: slideRight ease 500ms;
}

.card--left {
  animation: slideLeft ease 500ms;
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translate(50%);
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translate(-50%);
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

.card__button {
  background-color: var(--clr-background);
  border-radius: 10em;
  color: var(--clr-body);
  margin: 10px;
  opacity: 0.25;
  padding: 0.5em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.card__button:hover,
.card__button:focus-visible {
  opacity: 1;
}

.card__front,
.card__back {
  background-color: var(--clr-accent);
  border-radius: 10px;
  display: grid;
  height: 100%;
  position: absolute;
  width: 100%;
}

.card__front--show {
  z-index: 5;
}

.card__body {
  color: var(--clr-body);
  font-size: 2rem;
  display: block;
  text-align: center;
  margin: auto;
}

.app__controls {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 0 auto;
}

.controls__button,
.controls__number {
  background-color: transparent;
  color: var(--clr-body);
}

.controls__button {
  font-size: 1.5rem;
}

.controls__number {
  font-size: 0.9rem;
}

.app__button--clear {
  bottom: 0;
  left: 0;
  margin: 1em;
  position: fixed;
}
