@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
:root {
  --clr-background: #274ad8;
  --clr-accent: #27a3d8;
  --clr-body: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  position: relative;
  width: 90%;
  max-width: 370px;
  margin: 0 auto;
}

.button {
  border: none;
  cursor: pointer;
}

.new-card {
  background-color: var(--clr-background);
  color: var(--clr-body);
  display: none;
  inset: 0;
  place-items: center;
  position: absolute;
  z-index: 100;
}

.new-card--show {
  display: grid;
}

.new-card__close {
  position: absolute;
  top: -25px;
  right: 0;
  background-color: transparent;
  color: var(--clr-accent);
  font-size: 1.5rem;
}

.new-card__title {
  text-align: center;
  margin-bottom: 1em;
  font-weight: 400;
}

.new-card__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.form__label {
  display: block;
}

.form__textarea {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5em;
}

.form__button {
  background-color: var(--clr-accent);
  color: var(--clr-body);
  font-family: "Roboto", sans-serif;
  margin: 1em auto;
  padding: 1em;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
}

.form__button:hover,
.form__button:focus-visible {
  background-color: var(--clr-body);
  color: var(--clr-accent);
}

.app {
  background-color: var(--clr-background);
  color: var(--clr-body);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.app__title {
  text-align: center;
  font-weight: 400;
}

.app__button {
  padding: 0.75em;
  background-color: var(--clr-accent);
  color: var(--clr-body);
  margin: 1em auto;
  display: block;
}

.app__card {
  background-color: var(--clr-accent);
  width: 80%;
  min-height: 25vh;
  margin: 1em auto 1em auto;
  display: grid;
  place-items: center;
  position: relative;
}

.card__button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  background-color: var(--clr-background);
  color: var(--clr-body);
  padding: 0.5em;
  opacity: 0.75;
}

.card__button:hover,
.card__button:focus-visible {
  opacity: 1;
}

.card__body {
  color: var(--clr-body);
  font-size: 1.5rem;
  padding: 1em;
  text-align: center;
}

.app__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
}

.controls__button,
.controls__number {
  background-color: transparent;
  color: var(--clr-body);
}

.controls__button {
  font-size: 1.5rem;
}

.controls__number {
  font-size: 0.9rem;
}

.app__button--clear {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 1em;
}
