@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans:wght@500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.33);
  background-image: url("bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255);
  font-family: "Open Sans", sans-serif;
}

p {
  text-align: center;
  font-size: 1.5rem;
}

.app {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 3em;
  border-radius: 10px;
}

.app__title {
  font-family: "Inter", sans-serif;
  margin-bottom: 1rem;
  font-size: 3.5rem;
  letter-spacing: 1.5px;
}

.app__count {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgba(255, 255, 255);
  padding: 1em;
  border-radius: 10em;
}

.count__number {
  font-size: 3rem;
  letter-spacing: 5px;
}
