@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans:wght@500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255);
  font-family: "Open Sans", sans-serif;
}

p {
  text-align: center;
  font-size: 1.5rem;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.app__title {
  font-family: "Inter", sans-serif;
  margin-bottom: 1rem;
  font-size: 3.5rem;
  letter-spacing: 1.5px;
}

.app__spinner {
  margin: 0 auto;
  width: fit-content;
  width: -moz-fit-content;
}

.app__spinner--hide {
  display: none;
}

.app__count {
  display: none;
  align-items: center;
  justify-content: space-around;
}

.app__count--show {
  display: flex;
}

.count__number {
  font-size: 3rem;
  letter-spacing: 5px;
}

.next-year {
  font-size: 10rem;
  opacity: 0.5;
}
