@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: aquamarine;
}

.app {
  padding: 1em;
}

.container {
  display: block;
  position: relative;
  height: 90vh;
  width: 100%;
  margin: 0 auto;
}

.in {
  animation: in 2000ms linear;
}

.out {
  animation: out 2000ms linear;
}

.app__title {
  color: rgba(0, 0, 0, 0.75);
  margin: auto;
  width: fit-content;
  width: -moz-fit-content;
}

.app__circle {
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.app__circle--outer {
  background-image: conic-gradient(
    lightgreen 140deg,
    #fff 120deg 220deg,
    lightseagreen 220deg
  );
  width: 80%;
  max-width: 440px;
}

.app__circle--inner {
  background-color: tomato;
  color: #fff;
  display: grid;
  font-size: 1.5rem;
  max-width: 400px;
  place-items: center;
  width: 75%;
}

.circle__dot-container {
  width: 400px;
  background-color: transparent;
  height: 20px;
  position: absolute;

  animation: orbit 5000ms linear infinite;
}

.dot {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  border-radius: 50%;
  aspect-ratio: 1;
  margin-left: auto;
}

@keyframes orbit {
  from {
    transform: rotate(-90deg);
  }

  to {
    transform: rotate(270deg);
  }
}

@keyframes in {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(1);
  }
}

@keyframes out {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.9);
  }
}

@media (min-width: 450px) {
  .circle__dot-container {
    width: 550px;
    height: 40px;
  }
}
